<div class="container">
    <h1>materiasl works!</h1>
    <div>
        <h2>material-button</h2>
        <button mat-button color="primary">Primary</button>
        <button mat-button color="accent">Accent</button>
        <button mat-button color="warn">Warn</button>
        <br>
        <button mat-button >button</button>
        <button mat-raised-button>raised button</button>
        <button mat-flat-button>flat button</button>
        <button mat-stroked-button>stroked button</button>
        <br>
        <button mat-raised-button>Basic</button>
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
    </div>
</div>
